buildSrc/libs
.gradle/
build/
.idea/
!.idea/codeStyles/codeStyleConfig.xml
.DS_Store
*.log
out/
.project
.settings
.vscode
# Ignore downloaded zip files when running integTest
alerting/src/test/resources/bwc*
alerting/src/test/resources/notifications-core*
alerting/src/test/resources/notifications*