name: Publish snapshots to maven

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+'
      - '[0-9]+.x'

jobs:
  build-and-publish-snapshots:
    strategy:
      fail-fast: false
      matrix:
        jdk: [17]
        platform: ["ubuntu-latest"]
    if: github.repository == 'opensearch-project/alerting'
    runs-on: ${{ matrix.platform }}

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/setup-java@v3
        with:
          distribution: temurin # Temurin is a distribution of adoptium
          java-version: ${{ matrix.jdk }}
      - uses: actions/checkout@v4
      - name: Load secret
        uses: 1password/load-secrets-action@v2
        with:
          # Export loaded secrets as environment variables
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          SONATYPE_USERNAME: op://opensearch-infra-secrets/maven-central-portal-credentials/username
          SONATYPE_PASSWORD: op://opensearch-infra-secrets/maven-central-portal-credentials/password
      - name: publish snapshots to maven
        run: |
          ./gradlew publishShadowPublicationToSnapshotsRepository
          ./gradlew publishPluginZipPublicationToSnapshotsRepository
